---

import "../styles/global.css";
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-white">TF.</h5>
                    <p class="small text-white">El portal de referencia N.º 1 a nivel mundial en información y recursos para funcionarios públicos.</p>
                    <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Tufuncionario.com</a></p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Seccion 1</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-white text-decoration-none" href="#">Home</a></li>
                        <li><a class="text-white text-decoration-none" href="#">About</a></li>
                        <li><a class="text-white text-decoration-none" href="#">Get started</a></li>
                        <li><a class="text-white text-decoration-none" href="#">FAQ</a></li>
                    </ul>                    
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Seccion 2</h5>
                    <ul class="list-unstyled">
                        <li><a class="text-white text-decoration-none footer-link" href="#">Home</a></li>
                        <li><a class="text-white text-decoration-none footer-link" href="#">About</a></li>
                        <li><a class="text-white text-decoration-none footer-link" href="#">Get started</a></li>
                        <li><a class="text-white text-decoration-none footer-link" href="#">FAQ</a></li>
                    </ul>
                    
                </div>                
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Newsletter</h5>
                    <p class="small text-light-emphasis fw-medium">Suscríbete para recibir nuestras últimas publicaciones, noticias relevantes y recursos exclusivos directamente en tu bandeja de entrada.</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Tu correo electronico" aria-label="Seccion para añadir el correo electronico" aria-describedby="button-addon2">
                            <button class="btn btn-primary" id="button-addon2" type="button"><i class="bi bi-send"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>